<section class="create-a-room">
    <a class="btn large" href="#create-room" title="Create a room">Create</a>
</section>

<section class="room-selection">
    <h2 class="header">ROOM SELECTION</h2>
    <ul class="room-list">
    {{#each rooms}}
        <li class="room">
            <a class="cube {{toLowerCase genre}}" href="/room/{{id}}" title="{{name}}">{{name}}
                <span class="tooltip">
                    <img class="tooltip-thumb" src="{{smallPack current.image}}" alt="">
                    <strong class="tooltip-header">{{name}}</strong>
                    <em class="tooltip-album-title">{{current.artistName}}- {{current.trackName}}</em>
                    <span class="tooltip-listeners">Listeners: <strong>{{listeners}}</strong></span>
                </span>
            </a>
        </li>
    {{/each}}
    </ul>

    <ul class="room-key">
        <li class="rock">Rock</li>
        <li class="techno">Techno</li>
        <li class="disco">Disco</li>
        <li class="hip-hop">Hip - Hop</li>
    </ul>

</section>

<section id="create-room" class="modal room-creator">
    <form action="/room/create" method="post">

        <div class="data-field">
            <label for="name">Name</label>
            <input placeholder="Enter room your name" tabindex="1" type="text" id="name" name="name"></input>
        </div>

        <div class="data-field">
            <label for="genre">Genre</label>
            <select tabindex="2" name="genre" id="genre">
                 <option value="Rock">Rock</option>
                 <option value="Techno">Techno</option>
                 <option value="Disco">Disco</option>
                 <option value="Hip-Hop">Hip-Hop</option>
            </select>
        </div>

        <input tabindex="3" class="btn" type="submit" value="Create"></input>

        <a class="cancel" href="#" title="Cancel">Cancel</a>

    </form>
</section>

<section id="introduction" class="modal introduction">
    <div>

        <div id="story">
            <img class="intro-hex" src="/images/intro-hex.png" height="89" width="79" alt="">

            <div class="story-content">
                <h4>MiXBiT is a Robot powered Virtual club experience.</h4>

                <p>20 Robot Dj's have been created to perform for your listening pleasure. Genetic data has been collected, processed and analysed from 20 of the most prolific superclub DJs on the planet. This data has been harnessed in the creation of our 20 robots. We have kept our recreations as true as possible, therefore as you will hear, Random tunes are picked from the 7digital library and we have gone through great pains to ensure that no live mixing occurs.<p/>

                <p>We'd like to say that no harm came to any DJs during the DNA collection process, as you will be glad to hear... we cannot. We collected from David Guetta twice... Just to make sure.</p>

                <p>- MiXBiT team</p>
            </div>

            <a class="intro-continue" href="#video" title="Continue">
                <img src="/images/continue.png" height="91" width="78" alt="Continue">
            </a>
        </div>

    </div>
</section>

<section id="video" class="modal video">
    <div>
            <iframe src="//player.vimeo.com/video/79046230?byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

            <a class="video-continue" href="/" title="Continue">
                <img src="/images/continue.png" height="91" width="78" alt="Continue">
            </a>
    </div>
</section>
